
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>KAL Kombat</title>
        <link rel="stylesheet" type="text/css" href="../../assets/kal_kombat.css" media="screen"/>
        <!-- This section is specific to this page, so we keep it
             out of the external, presumably reusable, JavaScript file. -->
        <script type="text/javascript">
            var username;
            var user; 
            /**
              * This is a "glue" function that grabs information from
              * the Web page and passes it to the Web drawing "library."
            */
            var addRectangleFromForm = function() {
                var form = document.getElementById("rectForm");
                var left = parseInt(form.left.value);
                var top = parseInt(form.top.value);
                var width = parseInt(form.width.value);
                var height = parseInt(form.height.value);
                addRectangle(left, top, width, height, form.name.value);
            };
        </script>
        <script type="text/javascript" src="../../assets/kal_kombat.js"></script>
		
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<link rel="stylesheet" href="/resources/demos/style.css">
		<style>
		#draggable { width: 100px; height: 100px; padding: 0.5em; float: left: 250px; margin: 10px 10px 10px 0; }
		#droppable { width: 150px; height: 150px; padding: 0.5em; float: left:200px; margin: 10px; }
				
		</style>

		
    </head>
    
    <body id ="KALKombat">
        <!-- Simple audio playback -->
        <audio src="../../assets/metal_monkeys.mp3" autoplay>
            Your browser does not support the <code>audio</code> element.
        </audio>
        <!-- This is the area in which the drawing will take place. -->
        <div id = "welcome" style="text-align: right; color: green; margin-right: 10%;"></div>
        <p id="playerlog" style="padding: 5px; margin: 5px; height: 0px; text-align: center;" >Game Log</p>
        <p id="opplog"style="padding: 20px; margin: 20px; text-align: center;"></p>

        <div id="drawingArea" style="width=100%; height: 500px; margin-top: 100px;">
        
				<!-- choices of opponent and player -->
					<button type="button" id="selectCodeMonkeyPlayer" style= "margin-left: 550px; margin-top: 240px;" onclick="selectCodeMonkeyPlayer()">Click me to have Code Monkey fight for you.</button>
					<button type="button" id="selectMalePlayer" style= "margin-left: 500px; margin-top: 10px;" onclick="selectMalePlayer()">Click me to play as a male.</button>
					<button type="button" id="selectFemalePlayer" onclick="selectFemalePlayer()">Click me to play as a female.</button>
					<button type="button" id="selectKalOpponent" style= "margin-left: 500px; margin-top: 10px;" onclick="selectKalOpp()">Click me to fight KAL.</button>
					<button type="button" id="selectAlienKal" style = "margin-left: 15px;" onclick="selectAlienKalOpp()">Click me to fight Alien Minion Kal.</button>
				<!-- note: margin- (eg. margin-left, margin-top etc.) measures distance from nearest object to the object itself -->	
					
				<!-- player image -->
				<div id="playerImage" class="playerImage"     
                 style="left: 60px; top: 90px; width: 450px; height: 600px;">You:<div id="playerHP">100</div><img src="/assets/FightingNormalWeightFemale.png" alt="FemaleFighterPlayer"></img>
				</div>  


            <div id="leftkick" class="leftKick" 
                 style="left: 10px; top: 550px; width: 180px; height: 120px;">
				 Kick</div>
    
            <div id="rightkick" class="rightKick" 
                 style="left: 400px; top: 550px; width: 180px; height: 120px;">
				 Kick</div>

            <div id="leftpunch" class="leftPunch"
                 style="left: 20px; top: 240px; width: 110px; height: 120px;">
				 Punch</div>
                 
            <div id="rightpunch" class="rightPunch"
                 style="left: 410px; top: 240px; width: 110px; height: 120px;">
				 Punch</div>                              
        
            <div id="heal" class="heal"
                 style="left: 214px; top: 700px; width: 175px; height: 170px;">
				 Heal</div>                 

                 
            <div id="opponent" class="opponent"
                 style="left: 820px; top: 90px; width: 450px; height: 600px;">Opponent:<div id="opponentHP">100</div><img src="/assets/tinyAlienCuteKal.gif" alt="Alien KAL"></img></div>                       
        </div>
        
    

        <!-- "Set up" the Web page. -->
        <script type="text/javascript">

// Note the reference to "drawingArea" above.
setDrawingArea(document.getElementById("drawingArea"));
        </script>
		
	

		
    </body>
         <script>
            $(document).ready( function() {
                username = getURLParameter('username');
                document.getElementById('welcome').innerHTML = "Welcome "+username;
                user = JSON.parse(localStorage[username]);
                function getURLParameter(name) {
                    return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
                };
            }); 
       </script>
</html>
