// Place all the styles related to the falling_kals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color:grey;
    width: 1000px;
    height: 100000px;
}
