// Place all the styles related to the minigames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#desktop {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
    background-image: url('gamemap.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

#game1 {
    background-image: url('KALSpaceBattleBackground.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
    color: red;
    position: absolute; 
    left: 6%;
    top: 50%;
}

#game2 {
    background-image: url('danceStageBackground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
    color: cyan; 
    position: absolute;
    left: 75%;
    top: 33%;
}

#game3 {
    background-image: url('tinyAlienCuteKal.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 150px; 
    color: blueviolet;
    position: absolute;
    left: 5%;
    top: -1%;
}

.minigame {
    margin-top: 150px;
}

