<!DOCTYPE html>
<html>
    <head>
        <title>Kalventure Start Story Page</title>
        <link rel="stylesheet" href="../../assets/story_intro_page.css"> 
    </head>
		
    <body>
      <div id = "whole">
        <div id = "enter">	
            <a href="../intro_story/IntroStoryViewer2" class="inset">Enter if you<br/> Dare...</a>
        </div>
      </div>
    </body>
		
</html>
