body {
    color:#00E600;
    text-align: center;
    font-family: "Courier", monospace;
    background-color: black;
    margin-top: 150px;
}

form {
    line-height: 23px;
}

p {
    margin-top: 50px;
    margin-bottom: 1px;
}