<!DOCTYPE html>
<html>
    <head>
        <title>Kalventure Login Page</title>
        <style>
            body{
                color:#00E600;
                text-align: center;
                font-family: "Courier", monospace;
            }
        </style>
    </head>
    <body style = "background-color: black">
        <h1>Login to Kalventure!!</h1>
        <h2>Enter if you dare...</h2>
        <form>
            Enter your Username<br />
            <input type="text" name="user" maxlength = 8><br />
            Password<br />
            <input type="password" name="pwd" maxlength = 8><br />
            <input type = "submit" value = "Sign in"><br />
        </form>
        <form>
            <h3>First Time Kalventurer? Sign up</h3>
            First Name<br /> 
            <input type="text" name="first"><br />
            Last Name<br />
            <input type="text" name="last"><br />
            Email<br />
            <input type="email" name="email" placeholder = "i.e. abc@gmail.com"><br />
            Pick your Username<br />
            <input type="text" name="newUser" maxlength = 8><br />
            Create a password<br />
            <input type="password" name="newPass" maxlength = 8><br />
            Confirm your password<br />
            <input type="password" name="confPass" maxlength = 8>
        </form>
    </body>
</html>
