<!DOCTYPE html>
<html>
    <head>
        <title>Kalventure Login Page</title>
        <link rel="stylesheet" href="loginpage.css">
    </head>
    <body>
        <h1>Welcome to Kalventure!</h1>
        <h2>Login...if you dare...</h2>
        <form>
            Enter your Username<br />
            <input type="text" name="user" maxlength = 8><br />
            Password<br />
            <input type="password" name="pwd" maxlength = 8><br />
            <input type = "submit" value = "Login"><br />
        </form>
    </body>
</html>
