<!DOCTYPE html>
<html>
    <head>
        <title>Kalventure Login Page</title>
        <style>
            body{
                color:#00E600;
                text-align: center;
                font-family: "Courier", monospace;
            }
        </style>
    </head>
    <body style = "background-color: black">
        <h1>Welcome to Kalventure!</h1>
        <h2>Login...if you dare...</h2>
        <form>
            Enter your Username<br />
            <input type="text" name="user" maxlength = 8><br />
            Password<br />
            <input type="password" name="pwd" maxlength = 8><br />
            <input type = "submit" value = "Login"><br />
        </form>
    </body>
</html>
