<html>
    <head>
        <%= stylesheet_link_tag "minigames" %>
    </head>
    <body>
        <div id = "desktop">
            <h1>desktop</h1>
            <input id = "zero" class = "minigame" type="button" value="Zero Dodge">    
            <input id = "game2" class = "minigame" type="button" value="minigame2"><br />    
            <input id = "game3" class = "minigame" type="button" value="minigame3">    
            <input id = "game4" class = "minigame" type="button" value="minigame4">    
        </div>
    </body>
</html>
    
