<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" href="../../assets/intro_story.css">

    </head>

    <body>

      
 <div id = "all">

	  <form id = "intro" action="demo_form.asp">

             <div id = "topbar">

                <button id = "exit">x</button>

                <button id = "mini">-</button>
                <button id = "full"><img src="../../assets/s8zVO.png"></button>

             <div id = "title">KAL</div>

       </div>

	     <div id = "first">

             </div>
   
	     <div id = "ProgrammerIntros">

                 <P> Programmer Kurt> Hi, I'm Kurt, the K in KAL. </P>

		 <P> Programmer Allison> Hello, I'm Allison, the A in KAL. </P>

		 <P> Programmer Lisa> Hey, I'm Lisa, the L in KAL. </P>

		 <P> Programmer Allison> We are the KAL programming team. We made KAL. </P>

		 <P> Guest> Hey what about me! </P>

		 <P> Programmer Kurt> Ignore Kenny. He's just one of our interns. Kenny not now! </P>
		 <P> Programmer Lisa> Logoff right now Kenny! </P>

		 <P> < Guest logged off > </P>
 
		 <P> Programmer Allison> Anyways, KAL has gone rogue. Since you're in there already, we'll do our best to get you out. </P>

		 <P> Programmer Lisa> We're going to do our best to get you out of there but KAL has overridden the controls. We need your help to get pieces of the escape code. KAL has hidden the pieces of the escape code behind security. KAL thinks people will never be able to breach its security because KAL believes all humans are lazy and out of shape so KAL made sure the security system can only be unlocked via movement. </P>

		 <P> Programmer Kurt> But KAL has underestimated humans! It won't take KAL long to figure this out and ramp up the security. </P>

		 <P> Programmer Allison> But we'll help you along the way! We're working on programs to make KAL's security easier to bypass. We'll let you know when we're finished as we make them. </P>

		 <P> Programmer Lisa> So, let's get started. </P>


		 <P><br> KAL> Yes, puny human. Let's play. </P>


	     </div> 
<br>


		 <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />

            
	</form>

     
		 
     <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 
     <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

     <script src = "../../assets/IntroStoryViewer2.js"></script>

  </body>

</html>
