<!DOCTYPE html>
<html>
    <head>
        <title>New User Signup</title>
        <link rel="stylesheet" href="newuserpage.css">
    </head>
    <body id="newUserPage">
        <h1>First Time Kalventurer? Sign up now!</h1>
        <form>
            First Name<br /> 
            <input type="text" name="first" id = "firstName"><br />
            Last Name<br />
            <input type="text" name="last"><br />
            Email<br />
            <input type="email" name="email" placeholder = "i.e. abc@gmail.com"><br />
            Pick your Username<br />
            <input type="text" name="newUser" maxlength = 8><br />
            Create a password<br />
            <input type="password" name="newPass" maxlength = 8><br />
            Confirm your password<br />
            <input type="password" name="confPass" maxlength = 8><br />
            <input onclick = "clickCounter()" id = "submitButton" type = "Submit" value = "Sign Up">
        </form>
        <!--<script> document.getElementById("submitButton").onclick= "addToDb(value)";</script>-->
            <div id="result"></div>
            <script>
       /** function addToDb(value) {

           if(typeof(Storage) !== "undefined") {

           users = new Array(clickcount);

        if (localStorage.value) {
            localStorage.clickcount = Number(localStorage.clickcount)+1;
                        localStorage.users[clickcount] = value;
        } else {
            localStorage.clickcount = 1;
                        localStorage.users[clickcount-1] = value;
        }
        document.getElementById("result").innerHTML = "Hi user"+ localStorage.value +"You have clicked the button " + localStorage.clickcount + " time(s).";
                users[clickcount] = new Cell (value);

    } else {
        document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
    }

        }

        function reset(){
          if(typeof(Storage) !== "undefined"){
            localStorage.clickcount = 0;
            localStorage.users = new Array(clickcount+1);
          } else{
             document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage.";
          }
        }*/

        function clickCounter() {
            if(typeof(Storage) !== "undefined") {
                if (localStorage.clickcount) {
                    localStorage.clickcount = Number(localStorage.clickcount)+1;
                } else {
                    localStorage.clickcount = 1;
                }
                document.getElementById("result").innerHTML = "You have clicked the button " + localStorage.clickcount + " time(s).";
            } else {
                document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
            }
        }

        </script>
    </body>
</html>
